<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="stocksharp" type="StockSharp.Studio.StrategyRunner.Configuration.StockSharpSection, StrategyRunner"/>
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>

	<stocksharp>
		<connections>
			<connection sessionHolder="StockSharp.Quik.QuikSessionHolder, StockSharp.Quik"/>
			<connection sessionHolder="StockSharp.SmartCom.SmartComSessionHolder, StockSharp.SmartCom"/>
			<connection sessionHolder="StockSharp.Plaza.PlazaSessionHolder, StockSharp.Plaza"/>
			<connection sessionHolder="StockSharp.AlfaDirect.AlfaDirectSessionHolder, StockSharp.AlfaDirect"/>
			<connection sessionHolder="StockSharp.Transaq.TransaqSessionHolder, StockSharp.Transaq"/>
			<connection sessionHolder="StockSharp.Fix.FixSessionHolder, StockSharp.Fix"/>
		</connections>
		<diagramElements>
			<element type="StockSharp.Xaml.Diagram.Elements.CandleSourceDiagramElement, StockSharp.Xaml.Diagram"/>
			<element type="StockSharp.Xaml.Diagram.Elements.ChartDiagramElement, StockSharp.Xaml.Diagram"/>
			<element type="StockSharp.Xaml.Diagram.Elements.IndicatorDiagramElement, StockSharp.Xaml.Diagram"/>
			<element type="StockSharp.Xaml.Diagram.Elements.ComparisonDiagramElement, StockSharp.Xaml.Diagram"/>
			<element type="StockSharp.Xaml.Diagram.Elements.LogicalConditionDiagramElement, StockSharp.Xaml.Diagram"/>
			<element type="StockSharp.Xaml.Diagram.Elements.OpenPositionDiagramElement, StockSharp.Xaml.Diagram"/>
			<element type="StockSharp.Xaml.Diagram.Elements.ProtectPositionDiagramElement, StockSharp.Xaml.Diagram"/>
			<element type="StockSharp.Xaml.Diagram.Elements.OrderTradesDiagramElement, StockSharp.Xaml.Diagram"/>
			<element type="StockSharp.Xaml.Diagram.Elements.PassThroughDiagramElement, StockSharp.Xaml.Diagram"/>
			<element type="StockSharp.Xaml.Diagram.Elements.PreviousValueDiagramElement, StockSharp.Xaml.Diagram"/>
			<!--<element type="StockSharp.Xaml.Diagram.Elements.AlertDiagramElement, StockSharp.Xaml.Diagram"/>-->
			<element type="StockSharp.Xaml.Diagram.Elements.PositionDiagramElement, StockSharp.Xaml.Diagram"/>
			<element type="StockSharp.Xaml.Diagram.Elements.SecurityDiagramElement, StockSharp.Xaml.Diagram"/>
			<element type="StockSharp.Xaml.Diagram.Elements.MarketDepthDiagramElement, StockSharp.Xaml.Diagram"/>
			<element type="StockSharp.Xaml.Diagram.Elements.VariableDiagramElement, StockSharp.Xaml.Diagram"/>
			<element type="StockSharp.Xaml.Diagram.Elements.OneParamFunctionDiagramElement, StockSharp.Xaml.Diagram"/>
			<element type="StockSharp.Xaml.Diagram.Elements.TwoParamFunctionDiagramElement, StockSharp.Xaml.Diagram"/>
			<element type="StockSharp.Xaml.Diagram.Elements.PartDiagramElement, StockSharp.Xaml.Diagram"/>
			<element type="StockSharp.Xaml.Diagram.Elements.IndexerDiagramElement, StockSharp.Xaml.Diagram"/>
			<element type="StockSharp.Xaml.Diagram.Elements.LogicOneParamFunctionDiagramElement, StockSharp.Xaml.Diagram"/>
			<element type="StockSharp.Xaml.Diagram.Elements.StrategyTradesDiagramElement, StockSharp.Xaml.Diagram"/>
			<element type="StockSharp.Xaml.Diagram.Elements.CheckWorkingTimeDiagramElement, StockSharp.Xaml.Diagram"/>
		</diagramElements>
	</stocksharp>
</configuration>