<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="stocksharp" type="StockSharp.Configuration.StockSharpSection, StockSharp.Configuration"/>
	</configSections>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
	</startup>

	<stocksharp>
		<customConnections />
		<customCandles />
		<customIndicators />
		<customDiagramElements />
	</stocksharp>
</configuration>
