<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="studio" type="StockSharp.Studio.Configuration.StudioSection, Studio"/>
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Ecng.Configuration"/>
	</configSections>
	
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
	</startup>
	
	<studio fixServerAddress="stocksharp.com:5001">
		<customConnections />
		<customCandles />
		<customIndicators />
		
		<toolControls>
			<control type="StockSharp.Studio.Controls.PortfoliosPanel, StockSharp.Studio.Controls"/>
			<control type="StockSharp.Studio.Controls.MarketDataPanel, StockSharp.Studio.Controls"/>
			<control type="StockSharp.Studio.Controls.ExchangeEditorPanel, StockSharp.Studio.Controls"/>
			<!--<control type="StockSharp.Studio.Controls.ChatPanel, StockSharp.Studio.Controls"/>-->
		</toolControls>
		<strategyControls>
			<control type="StockSharp.Studio.Controls.StrategySecuritiesPanel, StockSharp.Studio.Controls"/>
			<control type="StockSharp.Studio.Controls.PortfoliosPanel, StockSharp.Studio.Controls"/>
			<control type="StockSharp.Studio.Controls.CandleChartPanel, StockSharp.Studio.Controls"/>
			<control type="StockSharp.Studio.Controls.EquityCurveChartPanel, StockSharp.Studio.Controls"/>
			<control type="StockSharp.Studio.Controls.MyTradesTable, StockSharp.Studio.Controls"/>
			<control type="StockSharp.Studio.Controls.OrdersPanel, StockSharp.Studio.Controls"/>
			<control type="StockSharp.Studio.Controls.OrdersConditionalPanel, StockSharp.Studio.Controls"/>
			<control type="StockSharp.Studio.Controls.ScalpingMarketDepthControl, StockSharp.Studio.Controls"/>
			<control type="StockSharp.Studio.Controls.PositionsPanel, StockSharp.Studio.Controls"/>
			<control type="StockSharp.Studio.Controls.NewsPanel, StockSharp.Studio.Controls"/>
			<control type="StockSharp.Studio.Controls.StatisticsPanel, StockSharp.Studio.Controls"/>
			<control type="StockSharp.Studio.Controls.TradesPanel, StockSharp.Studio.Controls"/>
			<control type="StockSharp.Studio.Controls.Level2Panel, StockSharp.Studio.Controls"/>
			<control type="StockSharp.Studio.Controls.DiagramDebuggerPanel, StockSharp.Studio.Controls"/>
			<control type="StockSharp.Studio.Controls.OptionDeskPanel, StockSharp.Studio.Controls"/>
			<control type="StockSharp.Studio.Controls.OptionPositionChartPanel, StockSharp.Studio.Controls"/>
			<control type="StockSharp.Studio.Controls.LogControlPanel, StockSharp.Studio.Controls"/>
			<control type="StockSharp.Studio.Controls.PositionChartPanel, StockSharp.Studio.Controls"/>

			<!--<control type="StockSharp.Studio.Controls.SciChartPanel, StockSharp.Studio.Controls"/>
			<control type="StockSharp.Studio.Controls.UniversalGridPanel, StockSharp.Studio.Controls"/>-->
		</strategyControls>
		<diagramElements>
			<element type="StockSharp.Xaml.Diagram.Elements.CandleSourceDiagramElement, StockSharp.Xaml.Diagram"/>
			<element type="StockSharp.Xaml.Diagram.Elements.ChartDiagramElement, StockSharp.Xaml.Diagram"/>
			<element type="StockSharp.Xaml.Diagram.Elements.IndicatorDiagramElement, StockSharp.Xaml.Diagram"/>
			<element type="StockSharp.Xaml.Diagram.Elements.ComparisonDiagramElement, StockSharp.Xaml.Diagram"/>
			<element type="StockSharp.Xaml.Diagram.Elements.LogicalConditionDiagramElement, StockSharp.Xaml.Diagram"/>
			<element type="StockSharp.Xaml.Diagram.Elements.OpenPositionDiagramElement, StockSharp.Xaml.Diagram"/>
			<element type="StockSharp.Xaml.Diagram.Elements.ProtectPositionDiagramElement, StockSharp.Xaml.Diagram"/>
			<element type="StockSharp.Xaml.Diagram.Elements.OrderTradesDiagramElement, StockSharp.Xaml.Diagram"/>
			<element type="StockSharp.Xaml.Diagram.Elements.PassThroughDiagramElement, StockSharp.Xaml.Diagram"/>
			<element type="StockSharp.Xaml.Diagram.Elements.PreviousValueDiagramElement, StockSharp.Xaml.Diagram"/>
			<element type="StockSharp.Xaml.Diagram.Elements.AlertDiagramElement, StockSharp.Xaml.Diagram"/>
			<element type="StockSharp.Xaml.Diagram.Elements.PositionDiagramElement, StockSharp.Xaml.Diagram"/>
			<element type="StockSharp.Xaml.Diagram.Elements.SecurityDiagramElement, StockSharp.Xaml.Diagram"/>
			<element type="StockSharp.Xaml.Diagram.Elements.MarketDepthDiagramElement, StockSharp.Xaml.Diagram"/>
			<element type="StockSharp.Xaml.Diagram.Elements.VariableDiagramElement, StockSharp.Xaml.Diagram"/>
			<element type="StockSharp.Xaml.Diagram.Elements.OneParamFunctionDiagramElement, StockSharp.Xaml.Diagram"/>
			<element type="StockSharp.Xaml.Diagram.Elements.TwoParamFunctionDiagramElement, StockSharp.Xaml.Diagram"/>
			<element type="StockSharp.Xaml.Diagram.Elements.PartDiagramElement, StockSharp.Xaml.Diagram"/>
			<element type="StockSharp.Xaml.Diagram.Elements.IndexerDiagramElement, StockSharp.Xaml.Diagram"/>
			<element type="StockSharp.Xaml.Diagram.Elements.LogicOneParamFunctionDiagramElement, StockSharp.Xaml.Diagram"/>
			<element type="StockSharp.Xaml.Diagram.Elements.StrategyTradesDiagramElement, StockSharp.Xaml.Diagram"/>
			<element type="StockSharp.Xaml.Diagram.Elements.CheckWorkingTimeDiagramElement, StockSharp.Xaml.Diagram"/>
		</diagramElements>
	


</studio>

	<connectionStrings>
		<add name="SQLiteConStr" connectionString="Data Source=%Documents%\StockSharp\Studio\Database\StockSharp.db" providerName=""/>
	</connectionStrings>

	<unity>
		<containers>
			<container>
				<types>
					<register type="Ecng.Serialization.IStorage, Ecng.Serialization" mapTo="Ecng.Data.HierarchicalDatabase, Ecng.Data">
						<constructor>
							<param name="name" value="Studio Database"/>
							<param name="connectionString">
								<value value="SQLiteConStr" typeConverter="Ecng.Configuration.ConnectionSettingsTypeConverter, Ecng.Configuration"/>
							</param>
						</constructor>

						<property name="Provider">
							<dependency type="Ecng.Data.Providers.SQLiteDatabaseProvider, Ecng.Data.Providers"/>
						</property>

						<property name="SupportParallelBatch" value="false"/>

						<lifetime type="singleton"/>
					</register>
				</types>
			</container>
		</containers>
	</unity>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Windows.Design.Extensibility" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Windows.Design.Interaction" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
