<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="studio" type="StockSharp.Studio.Configuration.StudioSection, Studio"/>
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Ecng.Configuration"/>
	</configSections>
	
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
	</startup>
	
	<studio fixServerAddress="stocksharp.com:5001">
		<connections>
			<connection adapter="StockSharp.AlfaDirect.AlfaDirectMessageAdapter, StockSharp.AlfaDirect"/>
			<connection adapter="StockSharp.BitStamp.BitStampMessageAdapter, StockSharp.BitStamp"/>
			<connection adapter="StockSharp.Blackwood.BlackwoodMessageAdapter, StockSharp.Blackwood"/>
			<connection adapter="StockSharp.Btce.BtceMessageAdapter, StockSharp.Btce"/>
			<connection adapter="StockSharp.CQG.CQGMessageAdapter, StockSharp.CQG"/>
			<connection adapter="StockSharp.ETrade.ETradeMessageAdapter, StockSharp.ETrade"/>
			<connection adapter="StockSharp.Fix.FixMessageAdapter, StockSharp.Fix"/>
			<connection adapter="StockSharp.InteractiveBrokers.InteractiveBrokersMessageAdapter, StockSharp.InteractiveBrokers"/>
			<connection adapter="StockSharp.IQFeed.IQFeedMarketDataMessageAdapter, StockSharp.IQFeed"/>
			<connection adapter="StockSharp.LMAX.LmaxMessageAdapter, StockSharp.LMAX"/>
			<connection adapter="StockSharp.Micex.MicexMessageAdapter, StockSharp.Micex"/>
			<connection adapter="StockSharp.Oanda.OandaMessageAdapter, StockSharp.Oanda"/>
			<connection adapter="StockSharp.OpenECry.OpenECryMessageAdapter, StockSharp.OpenECry" />
			<connection adapter="StockSharp.Plaza.PlazaStreamMessageAdapter, StockSharp.Plaza"/>
			<connection adapter="StockSharp.Plaza.PlazaTransactionMessageAdapter, StockSharp.Plaza"/>
			<connection adapter="StockSharp.Quik.QuikDdeAdapter, StockSharp.Quik"/>
			<connection adapter="StockSharp.Quik.QuikTrans2QuikAdapter, StockSharp.Quik"/>
			<connection adapter="StockSharp.Rithmic.RithmicMessageAdapter, StockSharp.Rithmic"/>
			<connection adapter="StockSharp.Rss.RssMarketDataMessageAdapter, StockSharp.Rss"/>
			<connection adapter="StockSharp.SmartCom.SmartComMessageAdapter, StockSharp.SmartCom"/>
			<connection adapter="StockSharp.Sterling.SterlingMessageAdapter, StockSharp.Sterling"/>
			<connection adapter="StockSharp.Transaq.TransaqMessageAdapter, StockSharp.Transaq"/>
		</connections>
		<candles>
			<candle type="StockSharp.Algo.Candles.TimeFrameCandle, StockSharp.Algo"/>
			<candle type="StockSharp.Algo.Candles.TickCandle, StockSharp.Algo"/>
			<candle type="StockSharp.Algo.Candles.VolumeCandle, StockSharp.Algo"/>
			<candle type="StockSharp.Algo.Candles.RangeCandle, StockSharp.Algo"/>
			<candle type="StockSharp.Algo.Candles.PnFCandle, StockSharp.Algo"/>
			<candle type="StockSharp.Algo.Candles.RenkoCandle, StockSharp.Algo"/>
		</candles>
		<indicators>
			<indicator type="StockSharp.Algo.Indicators.Acceleration, StockSharp.Algo"/>
			<indicator type="StockSharp.Algo.Indicators.Alligator, StockSharp.Algo" painter="StockSharp.Xaml.Charting.IndicatorPainters.AlligatorPainter, StockSharp.Xaml.Charting"/>
			<indicator type="StockSharp.Algo.Indicators.AverageDirectionalIndex, StockSharp.Algo" painter="StockSharp.Xaml.Charting.IndicatorPainters.AverageDirectionalIndexPainter, StockSharp.Xaml.Charting"/>
			<indicator type="StockSharp.Algo.Indicators.AverageTrueRange, StockSharp.Algo"/>
			<indicator type="StockSharp.Algo.Indicators.AwesomeOscillator, StockSharp.Algo"/>
			<indicator type="StockSharp.Algo.Indicators.BollingerBands, StockSharp.Algo" painter="StockSharp.Xaml.Charting.IndicatorPainters.BollingerBandsPainter, StockSharp.Xaml.Charting"/>
			<indicator type="StockSharp.Algo.Indicators.ChaikinVolatility, StockSharp.Algo"/>
			<indicator type="StockSharp.Algo.Indicators.ChandeMomentumOscillator, StockSharp.Algo"/>
			<indicator type="StockSharp.Algo.Indicators.CommodityChannelIndex, StockSharp.Algo"/>
			<indicator type="StockSharp.Algo.Indicators.DetrendedPriceOscillator, StockSharp.Algo"/>
			<indicator type="StockSharp.Algo.Indicators.DiMinus, StockSharp.Algo"/>
			<indicator type="StockSharp.Algo.Indicators.DiPlus, StockSharp.Algo"/>
			<indicator type="StockSharp.Algo.Indicators.DirectionalIndex, StockSharp.Algo"/>
			<indicator type="StockSharp.Algo.Indicators.DoubleExponentialMovingAverage, StockSharp.Algo" />
			<indicator type="StockSharp.Algo.Indicators.Envelope, StockSharp.Algo" />
			<indicator type="StockSharp.Algo.Indicators.ExponentialMovingAverage, StockSharp.Algo"/>
			<indicator type="StockSharp.Algo.Indicators.Fractals, StockSharp.Algo" painter="StockSharp.Xaml.Charting.IndicatorPainters.FractalsPainter, StockSharp.Xaml.Charting"/>
			<indicator type="StockSharp.Algo.Indicators.GatorOscillator, StockSharp.Algo"/>
			<indicator type="StockSharp.Algo.Indicators.Highest, StockSharp.Algo"/>
			<indicator type="StockSharp.Algo.Indicators.HullMovingAverage, StockSharp.Algo" />
			<indicator type="StockSharp.Algo.Indicators.Ichimoku, StockSharp.Algo" painter="StockSharp.Xaml.Charting.IndicatorPainters.IchimokuPainter, StockSharp.Xaml.Charting"/>
			<indicator type="StockSharp.Algo.Indicators.JurikMovingAverage, StockSharp.Algo"/>
			<indicator type="StockSharp.Algo.Indicators.KaufmannAdaptiveMovingAverage, StockSharp.Algo"/>
			<indicator type="StockSharp.Algo.Indicators.LinearReg, StockSharp.Algo"/>
			<indicator type="StockSharp.Algo.Indicators.LinearRegression, StockSharp.Algo"/>
			<indicator type="StockSharp.Algo.Indicators.LinearRegSlope, StockSharp.Algo"/>
			<indicator type="StockSharp.Algo.Indicators.Lowest, StockSharp.Algo"/>
			<indicator type="StockSharp.Algo.Indicators.MarketFacilitationIndex, StockSharp.Algo"/>
			<indicator type="StockSharp.Algo.Indicators.MeanDeviation, StockSharp.Algo"/>
			<indicator type="StockSharp.Algo.Indicators.MedianPrice, StockSharp.Algo"/>
			<indicator type="StockSharp.Algo.Indicators.Momentum, StockSharp.Algo"/>
			<indicator type="StockSharp.Algo.Indicators.MovingAverageConvergenceDivergence, StockSharp.Algo"/>
			<indicator type="StockSharp.Algo.Indicators.MovingAverageConvergenceDivergenceHistogram, StockSharp.Algo" painter="StockSharp.Xaml.Charting.IndicatorPainters.MovingAverageConvergenceDivergenceHistogramPainter, StockSharp.Xaml.Charting"/>
			<indicator type="StockSharp.Algo.Indicators.MovingAverageConvergenceDivergenceSignal, StockSharp.Algo" painter="StockSharp.Xaml.Charting.IndicatorPainters.MovingAverageConvergenceDivergenceSignalPainter, StockSharp.Xaml.Charting"/>
			<indicator type="StockSharp.Algo.Indicators.NickRypockTrailingReverse, StockSharp.Algo"/>
			<indicator type="StockSharp.Algo.Indicators.OptimalTracking, StockSharp.Algo"/>
			<indicator type="StockSharp.Algo.Indicators.ParabolicSar, StockSharp.Algo" painter="StockSharp.Xaml.Charting.IndicatorPainters.ParabolicSarPainter, StockSharp.Xaml.Charting"/>
			<indicator type="StockSharp.Algo.Indicators.Peak, StockSharp.Algo" painter="StockSharp.Xaml.Charting.IndicatorPainters.PeakPainter, StockSharp.Xaml.Charting"/>
			<indicator type="StockSharp.Algo.Indicators.PeakBar, StockSharp.Algo"/>
			<indicator type="StockSharp.Algo.Indicators.QStick, StockSharp.Algo"/>
			<indicator type="StockSharp.Algo.Indicators.RangeActionVerificationIndex, StockSharp.Algo"/>
			<indicator type="StockSharp.Algo.Indicators.RateOfChange, StockSharp.Algo"/>
			<indicator type="StockSharp.Algo.Indicators.RelativeStrengthIndex, StockSharp.Algo"/>
			<indicator type="StockSharp.Algo.Indicators.RelativeVigorIndex, StockSharp.Algo"/>
			<indicator type="StockSharp.Algo.Indicators.RSquared, StockSharp.Algo"/>
			<indicator type="StockSharp.Algo.Indicators.SimpleMovingAverage, StockSharp.Algo"/>
			<indicator type="StockSharp.Algo.Indicators.SmoothedMovingAverage, StockSharp.Algo"/>
			<indicator type="StockSharp.Algo.Indicators.StandardDeviation, StockSharp.Algo"/>
			<indicator type="StockSharp.Algo.Indicators.StandardError, StockSharp.Algo"/>
			<indicator type="StockSharp.Algo.Indicators.StochasticK, StockSharp.Algo"/>
			<indicator type="StockSharp.Algo.Indicators.StochasticOscillator, StockSharp.Algo"/>
			<indicator type="StockSharp.Algo.Indicators.Sum, StockSharp.Algo"/>
			<indicator type="StockSharp.Algo.Indicators.TripleExponentialMovingAverage, StockSharp.Algo" />
			<indicator type="StockSharp.Algo.Indicators.Trix, StockSharp.Algo"/>
			<indicator type="StockSharp.Algo.Indicators.Trough, StockSharp.Algo" painter="StockSharp.Xaml.Charting.IndicatorPainters.TroughPainter, StockSharp.Xaml.Charting"/>
			<indicator type="StockSharp.Algo.Indicators.TroughBar, StockSharp.Algo"/>
			<indicator type="StockSharp.Algo.Indicators.TrueRange, StockSharp.Algo"/>
			<indicator type="StockSharp.Algo.Indicators.UltimateOscillator, StockSharp.Algo"/>
			<indicator type="StockSharp.Algo.Indicators.VerticalHorizontalFilter, StockSharp.Algo"/>
			<indicator type="StockSharp.Algo.Indicators.Vidya, StockSharp.Algo"/>
			<indicator type="StockSharp.Algo.Indicators.VolumeIndicator, StockSharp.Algo" painter="StockSharp.Xaml.Charting.IndicatorPainters.VolumePainter, StockSharp.Xaml.Charting"/>
			<indicator type="StockSharp.Algo.Indicators.VolumeWeightedMovingAverage, StockSharp.Algo"/>
			<indicator type="StockSharp.Algo.Indicators.WeightedMovingAverage, StockSharp.Algo"/>
			<indicator type="StockSharp.Algo.Indicators.WilderMovingAverage, StockSharp.Algo"/>
			<indicator type="StockSharp.Algo.Indicators.WilliamsR, StockSharp.Algo"/>
			<indicator type="StockSharp.Algo.Indicators.ZigZag, StockSharp.Algo" painter="StockSharp.Xaml.Charting.IndicatorPainters.ZigZagPainter, StockSharp.Xaml.Charting"/>
			<indicator type="StockSharp.Algo.Indicators.ZigZagEquis, StockSharp.Algo" painter="StockSharp.Xaml.Charting.IndicatorPainters.ZigZagEquisPainter, StockSharp.Xaml.Charting"/>
		</indicators>
		<toolControls>
			<control type="StockSharp.Studio.Controls.PortfoliosPanel, StockSharp.Studio.Controls"/>
			<control type="StockSharp.Studio.Controls.MarketDataPanel, StockSharp.Studio.Controls"/>
			<control type="StockSharp.Studio.Controls.ExchangeEditorPanel, StockSharp.Studio.Controls"/>
			<!--<control type="StockSharp.Studio.Controls.ChatPanel, StockSharp.Studio.Controls"/>-->
		</toolControls>
		<strategyControls>
			<control type="StockSharp.Studio.Controls.StrategySecuritiesPanel, StockSharp.Studio.Controls"/>
			<control type="StockSharp.Studio.Controls.PortfoliosPanel, StockSharp.Studio.Controls"/>
			<control type="StockSharp.Studio.Controls.CandleChartPanel, StockSharp.Studio.Controls"/>
			<control type="StockSharp.Studio.Controls.EquityCurveChartPanel, StockSharp.Studio.Controls"/>
			<control type="StockSharp.Studio.Controls.MyTradesTable, StockSharp.Studio.Controls"/>
			<control type="StockSharp.Studio.Controls.OrdersPanel, StockSharp.Studio.Controls"/>
			<control type="StockSharp.Studio.Controls.OrdersConditionalPanel, StockSharp.Studio.Controls"/>
			<control type="StockSharp.Studio.Controls.ScalpingMarketDepthControl, StockSharp.Studio.Controls"/>
			<control type="StockSharp.Studio.Controls.PositionsPanel, StockSharp.Studio.Controls"/>
			<control type="StockSharp.Studio.Controls.NewsPanel, StockSharp.Studio.Controls"/>
			<control type="StockSharp.Studio.Controls.StatisticsPanel, StockSharp.Studio.Controls"/>
			<control type="StockSharp.Studio.Controls.TradesPanel, StockSharp.Studio.Controls"/>
			<control type="StockSharp.Studio.Controls.Level2Panel, StockSharp.Studio.Controls"/>
			<control type="StockSharp.Studio.Controls.DiagramDebuggerPanel, StockSharp.Studio.Controls"/>
			<control type="StockSharp.Studio.Controls.OptionDeskPanel, StockSharp.Studio.Controls"/>
			<control type="StockSharp.Studio.Controls.OptionPositionChartPanel, StockSharp.Studio.Controls"/>
			<control type="StockSharp.Studio.Controls.LogControlPanel, StockSharp.Studio.Controls"/>
			<control type="StockSharp.Studio.Controls.PositionChartPanel, StockSharp.Studio.Controls"/>

			<!--<control type="StockSharp.Studio.Controls.SciChartPanel, StockSharp.Studio.Controls"/>
			<control type="StockSharp.Studio.Controls.UniversalGridPanel, StockSharp.Studio.Controls"/>-->
		</strategyControls>
		<diagramElements>
			<element type="StockSharp.Xaml.Diagram.Elements.CandleSourceDiagramElement, StockSharp.Xaml.Diagram"/>
			<element type="StockSharp.Xaml.Diagram.Elements.ChartDiagramElement, StockSharp.Xaml.Diagram"/>
			<element type="StockSharp.Xaml.Diagram.Elements.IndicatorDiagramElement, StockSharp.Xaml.Diagram"/>
			<element type="StockSharp.Xaml.Diagram.Elements.ComparisonDiagramElement, StockSharp.Xaml.Diagram"/>
			<element type="StockSharp.Xaml.Diagram.Elements.LogicalConditionDiagramElement, StockSharp.Xaml.Diagram"/>
			<element type="StockSharp.Xaml.Diagram.Elements.OpenPositionDiagramElement, StockSharp.Xaml.Diagram"/>
			<element type="StockSharp.Xaml.Diagram.Elements.ProtectPositionDiagramElement, StockSharp.Xaml.Diagram"/>
			<element type="StockSharp.Xaml.Diagram.Elements.OrderTradesDiagramElement, StockSharp.Xaml.Diagram"/>
			<element type="StockSharp.Xaml.Diagram.Elements.PassThroughDiagramElement, StockSharp.Xaml.Diagram"/>
			<element type="StockSharp.Xaml.Diagram.Elements.PreviousValueDiagramElement, StockSharp.Xaml.Diagram"/>
			<element type="StockSharp.Xaml.Diagram.Elements.AlertDiagramElement, StockSharp.Xaml.Diagram"/>
			<element type="StockSharp.Xaml.Diagram.Elements.PositionDiagramElement, StockSharp.Xaml.Diagram"/>
			<element type="StockSharp.Xaml.Diagram.Elements.SecurityDiagramElement, StockSharp.Xaml.Diagram"/>
			<element type="StockSharp.Xaml.Diagram.Elements.MarketDepthDiagramElement, StockSharp.Xaml.Diagram"/>
			<element type="StockSharp.Xaml.Diagram.Elements.VariableDiagramElement, StockSharp.Xaml.Diagram"/>
			<element type="StockSharp.Xaml.Diagram.Elements.OneParamFunctionDiagramElement, StockSharp.Xaml.Diagram"/>
			<element type="StockSharp.Xaml.Diagram.Elements.TwoParamFunctionDiagramElement, StockSharp.Xaml.Diagram"/>
			<element type="StockSharp.Xaml.Diagram.Elements.PartDiagramElement, StockSharp.Xaml.Diagram"/>
			<element type="StockSharp.Xaml.Diagram.Elements.IndexerDiagramElement, StockSharp.Xaml.Diagram"/>
			<element type="StockSharp.Xaml.Diagram.Elements.LogicOneParamFunctionDiagramElement, StockSharp.Xaml.Diagram"/>
			<element type="StockSharp.Xaml.Diagram.Elements.StrategyTradesDiagramElement, StockSharp.Xaml.Diagram"/>
			<element type="StockSharp.Xaml.Diagram.Elements.CheckWorkingTimeDiagramElement, StockSharp.Xaml.Diagram"/>
		</diagramElements>
	</studio>

	<connectionStrings>
		<add name="SQLiteConStr" connectionString="Data Source=%Documents%\StockSharp\Studio\Database\StockSharp.db" providerName=""/>
	</connectionStrings>

	<unity>
		<containers>
			<container>
				<types>
					<register type="Ecng.Serialization.IStorage, Ecng.Serialization" mapTo="Ecng.Data.HierarchicalDatabase, Ecng.Data">
						<constructor>
							<param name="name" value="Studio Database"/>
							<param name="connectionString">
								<value value="SQLiteConStr" typeConverter="Ecng.Configuration.ConnectionSettingsTypeConverter, Ecng.Configuration"/>
							</param>
						</constructor>

						<property name="Provider">
							<dependency type="Ecng.Data.Providers.SQLiteDatabaseProvider, Ecng.Data.Providers"/>
						</property>

						<property name="SupportParallelBatch" value="false"/>

						<lifetime type="singleton"/>
					</register>
				</types>
			</container>
		</containers>
	</unity>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Windows.Design.Extensibility" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Windows.Design.Interaction" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
